<a href="https://colab.research.google.com/github/takashisuo/coffee_break/blob/master/nintendo_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sys

In [0]:
def lets_take_tea_break(m, e, n, c):
  if pow(m, e) % n == c:
    return str(m)
  else:
    return ""

In [0]:
res = None
for num in range(0, 10000):
  res = lets_take_tea_break(*[int(i) for i in (num, 17, 3569, 915)])
  if (len(res) != 0):
    print("num:", num, ", return value:", res)
    break
    
print("First answer value is ", res)

num: 2012 , return value: 2012
answer value is  2012